<link rel="stylesheet" href="../public/style/form.css">
<div class="wrap">
    <div class="wrap-in">
        <form name="reg">
            <div class="title">
                <h3>邮箱注册</h3>
            </div>
            <div class="text text-top">
            <label for="email">邮 箱</label>
                <input type="text" id="email" name="email">
            </div>
            <div class="text">
                <label for="name">昵 称</label>
                <input type="text" id="name" name="name">
            </div>
            <div class="text">
                <label for="pwd">登录密码</label>
                <input type="password" id="pwd" name="pwd" placeholder="（6-16位）">
            </div>
            <div class="text">
                <label for="repwd">确认密码</label>
                <input type="password" name="repwd">
            </div>
            <div class="tips"></div>
            <div class="submit">
                <input type="submit" value="下一步">
            </div>
        </form>
    </div>
</div>